<html>
<body>
  <div class="about-section">
  </div>
  
  <h2 style="text-align:center;color: mediumblue;">Our Team</h2>
  <div class="row">
    <div class="column" *ngFor='let ele of aboutUs.slice(0,3)'>
      <div class="card">
       
        <div class="container">
          <h2>{{ele.name}}</h2>
          <p class="title" style="color: yellow;">{{ele.role}}</p>
          <p>{{ele.description}}</p>
          <p>{{ele.mailId}}</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column" *ngFor='let ele of aboutUs.slice(3,7)'>
      <div class="card">
        
        <div class="container">
          <h2>{{ele.name}}</h2>
          <p class="title" style="color: yellow;">{{ele.role}}</p>
          <p>{{ele.description}}</p>
          <p>{{ele.mailId}}</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
    
 